* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}
.cards {
    display: grid;
    gap: 15px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
}
.card {
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

img {
    width: 98%;
    height: 250px ;
    object-fit: cover;
    border-radius: 6px;
}
h3 {
    margin: 10px 0;
    text-align: center;
}
.line {
    height: 1.2px;
    background-color: #e0e0e0;
    opacity: 0.7;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}
.progress-sec {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5px;
}
.progress-bar {
        height: 10px;
        background: #dfe6e9;
        border-radius: 10px;
      }

.progress {
        height: 100%;
        border-radius: 10px;
        background: #2dae49;
}
.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 5px;
}
.funds {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}
.btn {
    display: flex;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
}
button {
    border: 1px solid rgb(12, 73, 14);
    border-radius: 30px;
    color: rgb(51, 148, 48);
    font-size: 16px;
    font-weight:300;
    padding: 10px 15px;

}

i{
    font-size: 40px;
    color: rgb(51, 148, 48);
}